@using RecruitmentManagementApp.Models.ViewModels
@using Kendo.Mvc
@{
    ViewData["Title"] = "Reclutamiento";
}

<style>
    .k-command-cell.k-command-cell.k-command-cell {
        text-align: center;
    }

    .k-grid-content {
        min-height: 70px;
    }
</style>

<h1>Reclutamiento</h1>
<br />
<div>
    @await Html.PartialAsync("UpdatePartial")
    <div>
        @(Html.Kendo().Grid<RecruitmentViewModel>()
            .Name("Recruitments")
            .Columns(columns =>
            {
                columns.Command(command =>
                {
                    command.Custom("Editar").HtmlAttributes(new Dictionary<string, object>
                    {
                        ["class"] = "editButton",
                    });
                }).Width(90);
                columns.Bound(c => c.Id).Hidden();
                columns.Bound(c => c.CandidateName).Groupable(false).Width(250);
                columns.Bound(c => c.CreatedDate).Format("{0:dd/MM/yyyy}").Width(150);
                columns.Bound(c => c.StatusDescription)
                    .Filterable(ftb => ftb
                        .Multi(true)
                        .CheckAll(false)
                        .Messages(msg => msg.SelectedItemsFormat("{0} opciones seleccionadas"))
                    )
                    .Width(150);
                columns.Bound(c => c.Note).Groupable(false).Width(300);
            })
            .Resizable(c => c.Columns(true))
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(new[]
                {
                    20, 35, 50, 100,
                })
                .Messages(msg => msg
                    .Empty("Sin registros")
                    .ItemsPerPage("registros por página")
                    .First("Ir a la primera página")
                    .Last("Ir a la última página")
                    .Next("Página siguiente")
                    .Previous("Página anterior")
                    .Refresh("Refrescar")
                    .Display("{0} - {1} de {2} registros")
                    .Page("Página")
                    .MorePages("Más páginas")))
            .Navigatable()
            .Sortable()
            .Groupable(g => g.Messages(m => m.Empty("Arrastre una columna hasta aquí para agrupar por dicha columna")))
            .Filterable(filterable => filterable
                .Extra(true)
                .Operators(op =>
                    op.ForString(str => str.Clear()
                        .Contains("Contiene")
                        .DoesNotContain("No contiene")
                        .IsEqualTo("Es igual a")
                        .IsNotEqualTo("Es diferente de")
                        .StartsWith("Comienza con")
                        .EndsWith("Termina con"))
                        .ForDate(date => date.Clear()
                            .IsEqualTo("Es igual a")
                            .IsNotEqualTo("Es diferente de")
                            .IsGreaterThanOrEqualTo("Mayor o igual que")
                            .IsGreaterThan("Después de")
                            .IsLessThanOrEqualTo("Hasta")
                            .IsLessThan("Antes de"))
                        .ForNumber(num => num.Clear()
                            .IsEqualTo("Es igual a")
                            .IsNotEqualTo("Es diferente de")
                            .IsGreaterThanOrEqualTo("Mayor o igual que")
                            .IsGreaterThan("Mayor que")
                            .IsLessThanOrEqualTo("Menor o igual que")
                            .IsLessThan("Menor que")))
                .Messages(msg => msg
                    .Info("Mostrar registros con valor que:")
                    .And("Y")
                    .Or("O")
                    .Filter("Filtrar")
                    .Clear("Limpiar")))
            .Scrollable(s => s.Height("auto"))
            .ClientDetailTemplateId("recruitmentUpdateHistory")
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .ServerOperation(false)
                .Sort(s => s.Add("StatusDescription").Descending())
                .Model(model => model.Id(p => p.Id))
                .Read(read => read.Action("GetAll", "Recruitment"))
                .Group(group => group.Add("StatusDescription", typeof(string), ListSortDirection.Ascending))
            ))
    </div>
</div>
@await Html.PartialAsync("RecruitmentUpdateHistoryPartial")

<script src="~/js/recruitment.js"></script>